div(class="overlay")
		nav(class="overlayMenu") 
			ul(role="menu")
				li
					a(href="#top")
						|Вверх
				li
					a(href="#section-footer")
						|Контакты
				li
					a(href="tel:+79298390080")
						|+7 (903) 444-7-999
div(class="navBurger" role="navigation" id="navToggle")