nav.navigation
    a(href="index.html").navigation__logo-block
        img(src="img/logo/logo.png", alt="лого")
    .navigation__menu-block
        ul
            li
                a(href="#")
                    |
